<div class="bg-fuchsia-700 text-white lg:px-14 py-10">
  <h2 class="font-century text-white text-center text-4xl mb-8">About Me</h2>
  <div class="flex justify-center">
    <div class="sm:block lg:flex">
      <img
        class="rounded-full w-64 h-64 object-cover"
        src="../../assets/profile-photo.jpg"
      />
      <div class="mt-8 lg:pl-10">
        <h3 class="font-century text-xl lg:text-2xl font-semibold">
          Experience
        </h3>
        <p class="font-commons text-lg lg:text-xl mt-2">
          Starting my career in Graphic Design, I quickly branched out into
          additional skills to complement my position. In more than five years
          of experience, I have been using Adobe Creative Cloud daily, marketing
          through social media, SEO and analytics, as well as IT support for
          internal and external users and maintaining enrolment and website
          code.
        </p>
        <h3 class="font-century text-xl lg:text-2xl font-semibold mt-5">
          Development Process
        </h3>
        <p class="font-commons text-lg lg:text-xl mt-2 mb-5">
          Building upon this, my process for developing projects starts with a
          strong sense of design and user experience. The planning stage always
          starts with visual design, bringing together branding, layout and
          functionality of components. Once I've wireframed my website layout, I
          draw from my tech stack and research new programming tools to
          construct a robust application to suit my design and functionality
          aims. As much as the UI is vitally important, something I'm passionate
          about is constructing my code in an organised and effective way to
          create code that is maintainable, runs efficiently and is easy to
          read.
        </p>
      </div>
    </div>
  </div>
</div>
