<div class="app-container bg-purple-800 min-h-screen">
  <nav
    class="font-commons ml-4 pt-5 text-xl text-white flex flex-col items-start relative"
  >
    <div
      class="absolute mt-5 h-0.5 w-0.5 bg-white left-0 top-0 animate-draw-line"
    ></div>

    <ul class="space-y-2 ml-5">
      <li
        *ngFor="let item of navItems; index as i"
        [@navItemCombined]="hoveredIndex === i ? 'hover' : navState"
        (mouseenter)="hoveredIndex = i"
        (mouseleave)="hoveredIndex = -1"
      >
        <a [routerLink]="['/']" [fragment]="item.fragment">{{ item.name }}</a>
      </li>
    </ul>
  </nav>

  <app-intro></app-intro>

  <section id="cv">
    <app-cv></app-cv>
  </section>

  <section id="projects">
    <app-projects></app-projects>
  </section>

  <section id="contact">
    <app-contact></app-contact>
  </section>

  <section id="about">
    <app-about></app-about>
  </section>

  <app-scroll-to-top></app-scroll-to-top>
</div>
